ul{
	padding: 0px;
}

ul li{
	list-style-type: none;
	background-color: #efefef;
	padding: 10px;
	text-align: center;
	margin: 5px 0;
	border-radius: 5px;
	letter-spacing: 1px;
	font-family: 'Open Sans';
	text-transform: capitalize;
}

ul li .remove-icon{
	float: right;
	font-size: 15px;
	cursor: pointer;
	padding: 5px;
	color: #7295fa;
}

ul li .remove-icon:hover{
	color: #6382db;
}

p.empty-list {
	font-size: 20px;
}